<div class="row padding">
  <button libCustomComponent status="primary" size="medium" shape="semi-round">Hello</button>
</div>
<div class="row padding">
  <button libCustomComponent status="info" size="tiny" shape="round" disabled>Hello</button>
</div>
<div class="row padding">
  <button libCustomComponent status="danger" size="large" shape="rectangle" appearance="outline">Hello</button>
</div>
<div class="row padding">
  <button libCustomComponent status="warning" size="small" appearance="outline">Hello</button>
</div>
<div class="row padding">
  <input libCustomComponent status="basic" size="tiny"/>
</div>
<div class="row padding">
  <input libCustomComponent status="primary" size="medium" shape="semi-round" disabled/>
</div>
<div class="row padding">
  <input libCustomComponent status="info" size="large" shape="round"/>
</div>
<div class="row padding">
  <input libCustomComponent status="warning" size="giant" fullWidth/>
</div>
<div class="row padding">
  <input libCustomComponent status="danger" size="medium" />
</div>
<div class="row padding">
  <input libCustomComponent status="control" size="medium"/>
</div>
<div class="row padding">
  <checkbox libCustomComponent status="primary"></checkbox>
</div>
<div class="row padding">
  <checkbox libCustomComponent status="danger"></checkbox>
</div>
<div class="row padding">
  <checkbox libCustomComponent status="warning" checked (checkedChange)="change($event)"></checkbox>
</div>
<div class="row padding">
  <checkbox libCustomComponent status="info" disabled></checkbox>
</div>
<div class="row padding">
  <radio libCustomComponent status="info"></radio>
</div>
<div class="row padding">
  <radio libCustomComponent status="primary"></radio>
</div>
<div class="row padding">
  <radio libCustomComponent status="danger" checked="true"></radio>
</div>
<div class="row padding">
  <radio libCustomComponent status="warning"></radio>
</div>
<div class="row padding">
  <radio libCustomComponent status="success"></radio>
</div>
