<div class="row padding">
  <button libButton status="primary" size="medium" shape="semi-round">Hello</button>
</div>
<div class="row padding">
  <button libButton status="info" size="tiny" shape="round" disabled>Hello</button>
</div>
<div class="row padding">
  <button libButton status="danger" size="large" shape="rectangle">Hello</button>
</div>
<div class="row padding">
  <button libButton status="warning" size="small">Hello</button>
</div>
<div class="row padding">
  <input libInput status="basic" size="tiny"/>
</div>
<div class="row padding">
  <input libInput status="primary" size="medium" shape="semi-round" disabled/>
</div>
<div class="row padding">
  <input libInput status="info" size="large" shape="round"/>
</div>
<div class="row padding">
  <input libInput status="warning" size="giant" fullWidth/>
</div>
<div class="row padding">
  <input libInput status="danger" size="medium" />
</div>
<div class="row padding">
  <input libInput status="control" size="medium"/>
</div>
